.myBtn{
    width: 100%;
    height: 4rem; 
    box-shadow: var(--dropshadowMain);
    color: var(--mainWhite);
    border-radius: var(--radiusMain);
    text-transform: uppercase; 
    border: none;
    transition: all .1s ease-out;
}
.myBtn151 {width: 15.1rem !important;}
.myBtn:hover{
    background-color: var(--secondDark);
    color: var(--mainWhite);
    transition: all .2s ease-out;
}
.myBtn:active{ 
    background-color: var(--mainDark);
    color: var(--mainWhite); 
    transition: all .1s ease-out;
}
.btn-mainDark{ background-color: var(--mainDark)}
.btn-danger {background-color: var(--deleteColor);}
.btn-success { background-color: var(--secondDark);}
.btn-success:hover { background-color: var(--mainDark); border-color: var(--mainDark);}
.btn-success:active { --bs-btn-active-shadow: none;}
.btn-container{
    width: 100%;
}