.myBtn{
    width: 100%;
    height: 4rem; 
    box-shadow: var(--dropshadowMain);
    color: var(--mainWhite);
    border-radius: var(--radiusMain);
    text-transform: uppercase; 
    border: none;
    transition: all .1s ease-out;
}
.myBtn151 {width: 15.1rem !important;}
.myBtn:hover{
    background-color: var(--mainWhite);
    color: var(--mainDark);
    transition: all .2s ease-out;
}
.myBtn:active{ 
    background-color: var(--mainDark);
    color: white; 
    transition: all .1s ease-out;
}
.btn-mainDark{ background-color: var(--mainDark)}

.btn-container{
    width: 100%;
}