input {
    font-family: "Karma";
    border: thin solid rgba(0,0,0,.3);
    background: white;
    font-size: 16px;
    padding-left: 12px;
    height: 40px;
    border-radius: 5px;
}
input:focus{
    outline: none;
}

input::placeholder {
    font-family: "Karma";
    font-size: 16px;
}