 /* Main and Background */
 .signin-container{
    position: relative;
    height: 100vh;
    z-index: 20;
    user-select: none;
 }

 .signin-container .imgBackground{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 40%;
    width: 100%;
    height: 100%;
 }

/* Signin Card Container */ 
 .signin-card-container{ 
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(to bottom, rgba(128,144,81,0.7), rgba(245, 255, 218, 0.4));
    transform: translate(-50%,-50%);
    width: 60%;
    height: 80%;
    border-radius: 10px;
    text-align: center; 
 } 

 /* Header */
 .signin-card-container-header {
    position: relative;
    margin-top: 40px;
 }
 .signin-card-container-header h1 {
   position: absolute;
   top: 102px;
   left: 50%;
   transform: translateX(-50%);
   background-image: linear-gradient(to bottom, rgb(45,57,20),rgba(45,57,20,0.2));
   background-clip: text;
   color: transparent;
} 
.signin-card-container-header h3 {
   margin-top: 50px;
   margin-bottom: 25px;
}

/* Body */
.signin-input-group{
   width: 100%;
   margin: 0 auto;
   padding: 0;
}
.signin-input-group label{
   text-align: start !important;
}
.dashLine { 
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   height: 0.07px;
   width: 100%; 
   background-color: var(--mainDark); 
}

.loader-container {
   background-color: rgba(0,0,0,0.5);
   position: sticky;
   z-index: 30;
   height: 100vh; 
   display: flex;
   justify-content: center;
}
.loader { 
   align-self: center;
   border: 16px solid #f3f3f3; /* Light grey */
   border-top:16px solid var(--mainDark);
   border-bottom:16px solid var(--mainDark);
   border-radius: 50%;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
 
 .invalid-input { 
   border: 1px solid red;
   color: red;
 }
 
 @media only screen and (max-width: 991px) {
   .signin-card-container{ 
      width: 90%; 
   } 
 }