/*Main Navbar*/
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    z-index: 10;
    
}
.container-fluid{ 
    background-color: var(--mainLight);
    height: 83px !important;
    width: 100%; 
} 

/*Navbar Brand*/
.navbar-brand { display: flex;  } 
.navbar-brand img{ 
    width: 113px; 
    height: 113px; 
    position: absolute;
    top: 10px;
    left: 20px;
}
.navbar-brand h1{ 
    margin: 20px 0 20px 115px;
}
.navbar-brand a{color: var(--mainDark) !important;} 


/* Navbar List */
.navbar-collapse{
    justify-content: end;
    align-items: end;
    height: 100%;
}
.navbar-nav{
    height: 100%;
}
.nav-item{ 
    position: relative;
    align-self: flex-end;
    padding: 0 20px; 
    margin: 20px 10px;
    transition: all .1s;
} 
.navbar-nav .active {
    background-color: var(--yellowOP20) !important; 
    box-shadow: var(--dropshadowMain);
    border-radius: 0 0 0.8rem 0.8rem; 
    padding: 23px 20px 0 20px; 
    margin: 20px 10px;
    transition: all .5s !important; 
}
.nav-item a {
    color: var(--mainDark);
    font-size: 2.0rem;
    font-weight: 500;
    cursor: pointer; 
}

.nav-number{
    background-color: red;
    color: var(--mainWhite); 
    text-align: center;
    padding: 0 0.6rem; 
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    right: 9%;
    font-size: 1.2rem;
    font-weight: bold;
} 

/* Media 991px Bootstrap Lg*/
@media only screen and (max-width: 991.5px){
    .navbar-toggler{ 
        margin-right: 20px;
        border: 1px solid var(--mainDark);
    }
    .navbar-toggler:focus{
        box-shadow: none; 
    }
    .nav-item{
        background-color: var(--secondLight);
        padding: 10px 20px;
        margin: 5px 0;
        width: 200px;
        text-align: end;
        box-shadow: var(--dropshadowMain);
        border-radius: 10px 0 0 10px;
    }
    .nav-link{
        color: var(--mainDark);
    }
    .navbar-nav .active{
        background-color: var(--mainDark) !important;
        padding: 10px 20px;
        margin: 0;
        border-radius: 10px 0 0 10px;
    }
    .navbar-nav .active .nav-link{
        color: var(--mainWhite);
    }
    .nav-number{
        bottom: 39%;
        right: 32%; 
    }
}